/* #region */

/* public-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/public-sans-v14-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-300.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/public-sans-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-regular.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/public-sans-v14-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-500.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/public-sans-v14-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-600.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/public-sans-v14-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-700.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/public-sans-v14-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-300italic.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/public-sans-v14-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-italic.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/public-sans-v14-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-500italic.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/public-sans-v14-latin-600italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-600italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-600italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-600italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-600italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-600italic.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* public-sans-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/public-sans-v14-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/public-sans-v14-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/public-sans-v14-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/public-sans-v14-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/public-sans-v14-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/public-sans-v14-latin-700italic.svg#PublicSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/alegreya-sans-v24-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-300.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/alegreya-sans-v24-latin-300italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-300italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-300italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-300italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-300italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-300italic.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alegreya-sans-v24-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-regular.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/alegreya-sans-v24-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-italic.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/alegreya-sans-v24-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-500.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/alegreya-sans-v24-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-700.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/alegreya-sans-v24-latin-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-500italic.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* alegreya-sans-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/alegreya-sans-v24-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/alegreya-sans-v24-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alegreya-sans-v24-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alegreya-sans-v24-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alegreya-sans-v24-latin-700italic.svg#AlegreyaSans') format('svg');
    /* Legacy iOS */
}

/* #endregion */

:root {
    --black: #232323;
    --white: #F9F9F9;
    --beige: #BBB6B0;
}

body {
    background-color: var(--black);
    /* background-color: #b28b66; */
    width: 100vw;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    scroll-behavior: smooth;
}

h3 {
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 4rem;
}

section * {
    z-index: 3;
}


/* SECTION HEADER */

.container-landing {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.container-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

.landing-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    width: 45rem;
    height: 30rem;
    border-radius: 10px;
    position: relative;
}

img.logo-dev {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}

img.logo-dev-main {
    filter: drop-shadow(0px 0px 5px #232323);
    transform: translateZ(180px);
    cursor: pointer;
}

img.logo-dev-bg {
    position: absolute;
    opacity: .2;
    filter: drop-shadow(0px 0px 5px #232323);

}

img.logo-dev-hover:hover {
    animation: 'hover-round-icon' .3s linear forwards;
}

@keyframes hover-round-icon {
    0% {
        outline: 0px solid var(--white);
    }
    50% {
        outline: 10px solid var(--white);
    }
    100% {
        outline: 3px solid var(--white);
    }
}

img.logo-dev-onclick {
    animation: 'onclick-round-icon' 1.2s ease-out forwards;
}

@keyframes onclick-round-icon {
    0% {
        filter: drop-shadow(0px 0px 5px #232323);
        transform: translateZ(180px) rotateZ(0deg);
        scale: 1;
    }
    40% {
        filter: drop-shadow(0px 0px 0px #232323);
        transform: translateZ(220px) rotateZ(360deg);
        scale: 1.2;
    }
    70% {
        filter: drop-shadow(0px 0px 0px #232323);
        transform: translateZ(30px) rotateZ(360deg);
        scale: 1;
    }
    100% {
        filter: drop-shadow(0px 0px 0px #232323);
        transform: translateZ(0px) rotateZ(360deg);
        scale: 1;
    }
}

.navbar {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    gap: 10rem;
}


.main-title {
    display: flex;
    align-items: center;
    cursor: default;
    
}

.title {
    border: 4px solid #BBB6B0;
    box-shadow: inset 0px 2px 3px 8px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    overflow: hidden;
}

.title-anim {
    animation: 'reduce' 2s ease-out forwards;
}

@keyframes reduce {
    0% {
        width: 24rem;
    }
    20% {
        width: 0;
    }
    60% {
        width: 0;
    }
    80% {
        width: 20rem;
    }
    100% {
        width: 20rem;
    }
}

.main-title span {
    font-weight: 700;
    font-size: 4rem;
    color: var(--black);
    text-shadow: 3px 0 var(--beige), -3px 0 var(--beige), 0 3px var(--beige), 0 -3px var(--beige), 3px 3px var(--beige), -3px -3px var(--beige), 3px -3px var(--beige), -3px 3px var(--beige);
    line-height: 2;
    margin-top: -.5rem;
}

.main-title:hover .left-bracket {
    animation: 'bounce-left' 1s;
}
.main-title:hover .right-bracket {
    animation: 'bounce-right' 1s;
}

.left-bracket-anim {
    animation: tada;
    animation-duration: 1s; 
}

@keyframes bounce-left {
    0% {
        transform: translateX(0rem);
    }
    25% {
        transform: translateX(-2rem);
    }
    50% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(0rem);
    }
}
.right-bracket-anim {
    animation: tada;
    animation-duration: 1s; 
}

@keyframes bounce-right {
    0% {
        transform: translateX(0rem);
    }
    25% {
        transform: translateX(2rem);
    }
    50% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(0rem);
    }
}


.main-title h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--white);
    padding-inline: 2.2rem;
    padding-bottom: .5rem;
    line-height: 1.6;
    transition: .8s;
}


button.btn-nav {
    position: absolute;
    right: 0;
    margin-right: 5rem;
    padding: 1.2rem 3.5rem;
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    border-radius: 50px;
    color: var(--white);
    background-color: var(--beige);
    font-weight: 700;
    border: 2px solid var(--beige);
    background-image: -webkit-linear-gradient(30deg, var(--black) 50%, transparent 50%);
    background-image: linear-gradient(30deg, var(--black) 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    transition: .3s;
    
}

button.btn-nav:hover {
    background-position: 100%;
    color: var(--black);
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4); 
box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4);
}


.btn-out {
    animation: bounceOutUp;
    animation-duration: 1.4s; 
}

/* SECTION HERO */

section.hero {
    position: relative;
    width: 100vw;
    height: 95vh;
    background-image: url(../img/bg-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-blur {
    position: absolute;
    backdrop-filter: blur(2px);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60vw;
    margin-inline: 23rem 20rem;
}

.title-hero {
    display: flex;
    flex-direction: column;
    color: var(--white);
    line-height: 1;
}

.title-hero h1 {
    font-size: 4rem;
    font-weight: 500;
    opacity: 0;
}

#first-name-fade {
    opacity: 1;
    animation: 'fade-in' 2.2s ease-out;
}

.title-hero h1 span {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 0rem;
    opacity: 0;
}

#last-name-fade {
    opacity: 1;
    animation: 'fade-in' 2.3s ease-out;
}

.title-hero h2 {
    padding-left: 6rem;
    font-size: 2.6rem;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: var(--beige);
    opacity: 0;
}

#job-fade {
    opacity: 1;
    animation: 'fade-in' 3s ease-out;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* IMAGE HERO */
.img-hero {
    display: flex;
    z-index: 10;
}
.img-hero img {
    width: 32rem;
    object-fit: cover;
    opacity: 0;
}

#pp-anim {
    opacity: 1;
    animation: 'slide-right-2' 1.4s ease-out forwards;
}

@keyframes slide-right-2 {
    0%{
        transform: translateX(1000px);
    }
    
    10%{
        transform: translateX(1000px);
    }
    80%{
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0);
    }
}

/* SETTING DES CARDS DU HERO */

.card {
    position: absolute;
    border-radius: 10px;
    z-index: 2;
}

.black-card {
    background-color: var(--black);
}

.beige-card {
    background-color: var(--beige);
}

.title-hero .card {
    width: 32rem;
    height: 45rem;
}

.title-hero .card.black-card {
    top: -2rem;
    left: -1rem;
    transform: rotate(-15deg);
}

.title-hero .card.beige-card {
    top: -4rem;
    left: 8rem;
    transform: rotate(10deg);
}

.img-hero .black-card {
    width: 32rem;
    height: 40rem;
    top: -2rem;
    right: -5rem;
    transform: rotate(-15deg);
}
.card-2 {
    opacity: 0;
    transform: translateX(-1000px) translateY(1000px);
}

#card-2 {
    opacity: 1;
    animation: 'slide-left' 1.4s ease-out forwards;
}

@keyframes slide-left {
    0%{
        transform: translateX(-1000px) translateY(1000px) rotate(-305deg);
    }
    100%{
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
}

.card-1 {
    opacity: 0;
    transform: translateX(-800px) translateY(800px);
}

#card-1 {
    opacity: 1;
    animation: 'slide-left-2' 1.2s ease-out forwards;
}

@keyframes slide-left-2 {
    0%{
        transform: translateX(-800px) translateY(800px) rotate(-190deg);
    }
    100%{
        transform: translateX(0) translateY(0) rotate(10deg);
    }
}

.card-3 {
    opacity: 0;
    transform: translateX(800px) translateY(-200px);
}

#card-3 {
    opacity: 1;
    animation: 'slide-right' 2s ease-out forwards
}
@keyframes slide-right {
    0%{
        transform: translateX(800px) translateY(-200px) rotate(-345deg);
    }
    20%{
        transform: translateX(800px) translateY(-200px) rotate(-345deg);
    }
    100%{
        transform: translateX(0) translateY(0) rotate(-15deg);
    }
}

.card-out {
    width: 30rem;
    height: 45rem;
    position: absolute;
    z-index: 3;
}

.card-out-1,
.card-out-3 {
    margin-left: -150%;
}

.card-out-2 {
    margin-bottom: -150%;
}


.card-out-4 {
    margin-top: -115%
}


.card-out-5 {
    margin-right: -150%;
}


/* SECTION ABOUT */

section.about {
    height: 80vh;
    max-width: 154rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-about {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
}

.text-about h3,
.text-about p {
    color: var(--white);
}

.text-about h3 {
    font-size: 3.2rem;
    /* text-align: center; */
}

.text-about br {
    margin-bottom: 2rem;
}

.text-about p {
    font-size: 1.6rem;

}

picture img.img-about {
    width: 50rem;
    object-fit: cover;
    border-radius: 30px;
}


/* SECTION EXPERIENCES */

section.exp {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-exp {
    display: grid;
    color: var(--white);
    width: 140rem;
}

.bg-title {
    padding: 1.2rem 6rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    text-align: center;
    place-self: center;
    margin-bottom: 10rem;
}

ul.main-card-exp {
    display: flex;
    justify-content: space-around;
}

ul li.card-exp {
    background-color: var(--beige);
    color: var(--black);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 36rem;
    padding: 4rem;
    cursor: pointer;
}


li.card-exp p,
li.card-exp ul {
    font-size: 1.6rem;
}

li.card-exp ul {
    list-style: disc;
    margin-left: 2rem;
    line-height: 2;
}

.desc-exp {
    margin-block: auto;
}

.desc-cefim {
    margin-block: 2rem;
}

li.card-exp figure,
li.card-exp h4,
li.card-exp p.date-exp {
    align-self: center;
}

li.card-exp figure {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}

li.card-exp figure.logo-fcc {
    background-image: url(../img/freecodecamp-icon.svg);
}
li.card-exp figure.logo-cefim {
    background-image: url(../img/cefim-ico.svg);
}
li.card-exp figure.logo-react {
    background-image: url(../img/react-icon.svg);
}

.card-fcc {
    margin-left: -150%;
}

a.btn-cv {
    text-decoration: none;
    color: var(--white);
    border-radius: 50px;
    background-color: var(--beige);
    padding: 1.5rem 7rem;
    place-self: center;
    margin-top: 10rem;
    font-weight: 700;
    border: 3px solid var(--black);
    background-image: -webkit-linear-gradient(30deg, var(--black) 50%, transparent 50%);
    background-image: linear-gradient(30deg, var(--black) 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    transition: .3s;
}
a.btn-cv:hover {
    background-position: 100%;
    color: var(--black);
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4); 
box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4);
}

#anim-card-1 {
    animation: wobble;
    animation-duration: 2s;
}
#anim-card-2 {
    animation: swing;
    animation-duration: 2s;
}
#anim-card-3 {
    animation: tada;
    animation-duration: 2s;
}
#anim-card-4 {
    animation: jello;
    animation-duration: 2s;
}
#anim-card-5 {
    animation: shakeY;
    animation-duration: 2s;
}
#anim-card-6 {
    animation: bounce;
    animation-duration: 2s;
}
#anim-card-7 {
    animation: rubberBand;
    animation-duration: 2s;
}
#anim-card-8 {
    animation: heartBeat;
    animation-duration: 2s;
}


/* SECTION DES LANGAGES */

section.langages {
    display: grid;
    height: 100vh;
}

.langages .bg-title {
    background-color: var(--beige);
    color: var(--black);
    margin-top: 8rem;
    
}

.swiper {
    width: 40rem;
    height: 55rem;
}


.card-html {
    background:linear-gradient(50deg, rgb(255, 226, 78) 0%, rgb(255, 144, 79) 50%, rgb(150, 0, 0) 100%);
}

.card-css {
    background:linear-gradient(50deg, rgb(0, 255, 194) 0%, rgb(0, 181, 255) 50%, rgb(0, 53, 223) 100%);
}

.card-js {
    background:linear-gradient(50deg, rgb(255, 237, 130) 0%, rgb(255, 201, 0) 100%);
}

.card-react {
    background:linear-gradient(50deg, rgb(0, 181, 255) 0%, rgb(154, 224, 255) 3%, rgb(122, 136, 255) 50%, rgb(70, 0, 113) 100%);
}

.card-sql {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.card-node {
    background:linear-gradient(50deg, rgb(255, 141, 109) 0%, rgb(139, 185, 136) 48%, rgb(37, 61, 75) 100%);
}


.lang-card {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 5rem 5rem 0;
    background-size: 400% 400%;
    animation: 'gradient' 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.lang-card h4 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
}

.lang-card img {
    width: 16rem;
    height: 16rem;
    filter: drop-shadow(0px 0px 4px #232323);
    margin-bottom: 5rem;
}

img.card-node {
    filter: drop-shadow(0px 0px 0px #232323);
}

.lang-card-text {
    -webkit-box-shadow: inset 0px 20px 15px 5px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0px 20px 15px 5px rgba(0, 0, 0, 0.65);
    background-color: var(--black);
    color: var(--white);
    height: 30rem;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 4rem;
    padding-bottom: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.last-card {
    background-color: var(--black);
}
.last-card p{
    margin: auto;
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 40rem;
    font-family: 'Open Sans', sans-serif;


}


/* Setting du half circle loading  */
.half-arc {
    position: relative;
    width: 200px;
    height: 100px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom: 0;
    background: #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.half-arc-html:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#d98c43, #ef652a calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc-css:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#00c4f3, #0076ef calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc-js:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#ffd42a, #ffde4e calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc-react:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#6552c7, #60dafa calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc-sql:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#23afcd, #e73c7e calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc-node:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background-image: conic-gradient(#baa77d, #5f846e calc(var(--percentage, 0) / 2), var(--beige) 0);
    transition: transform .5s ease-in-out;
    z-index: 1;
    transform: rotate(270deg);
}

.half-arc:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--black);
    z-index: 2;
    width: calc(100% - 32px);
    height: calc(200% - 32px);
    border-radius: 50%;
    top: 16px;
    left: 16px;
}

.half-arc span {
    color: var(--white);
    z-index: 3;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Alegreya', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}

